body{
    margin: 0px;
    padding: 0px;
    background-color: #dadce2;
}

#links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#question{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#answer{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
}

